.App {
  text-align: center;
}

/* PawnsPort */
.triangle-up {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 150px solid yellow;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-left: 150px solid green;
  border-bottom: 150px solid transparent;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-right: 150px solid #6f42c1;
  border-bottom: 150px solid transparent;
}
/* PawnsPort */