.App {
  text-align: center;
}

/* PawnsPort */
.triangle-up {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 75px solid yellow;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-left: 75px solid green;
  border-bottom: 75px solid transparent;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-right: 75px solid #6f42c1;
  border-bottom: 75px solid transparent;
}
/* PawnsPort */